<section class="sub-text element">
    <h2>Terms and Conditions</h2>
    <p>This Website Standard Terms And Conditions contained herein on this webpage, shall govern your use of this website,<br> including all pages within this website (collectively referred to herein below as this “Website”).</p>
     <p>By signing up on Open Source Funeral Home Administration, you permit Open Source Funeral Home Administration to process your customer’s information. </p>
     <p>Open Source Funeral Home Administration acknowledges the importance of the POPI Act regulation and is taking all necessary measures to ensure that all information entered on our system is kept secure and safe at all times. Our mandate is to undertake regular safety updates to ensure that information remains safely stored.</p>


     


</section>