<section class="sub-text">
    <h2>Terms and Conditions</h2>
    <p>This Website Standard Terms And Conditions contained herein on this webpage, shall govern your use of this website,<br> including all pages within this website (collectively referred to herein below as this “Website”).</p>
     <p>These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly <br>accept all terms and conditions contained herein in full. </p>
     <p>You must not use this Website, if you have any objection to any of these Website Standard Terms And Conditions.</p>

</section>