* {
  margin: 0px;
  padding:0px;
  font-family:'Arial Narrow';
}
.element{
  height: 78vh; /* Would mean 50% of Viewport height */
  width:  80vw; /* Would mean 75% of Viewport width*/
}

.input[type=text] {

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
   
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 100px;
    
  }
  .input-text{
    margin: 40px;
    width: 30%;
  }
  .btn{
    margin: 10px;
    padding: 1px;
  }
 