
    <section class="imgcontainer text-center">
    <div class="container">
      <section class="img">
        <img src="./images/avatar.png" alt="Avatar" class="avatar">
      </section>
      <label for="parl"><b><small>Username or Email Address</small></b></label>
      <input type="text" class="form-control small" id="floatingPourname" placeholder="Enter Username or Email Address" required>
      <label for="fullname"><b><small>Password</small></b></label>
      <input type="text" class="form-control" id="fullname " placeholder="Enter Password" required>
      <label>
        <input type="checkbox" checked="checked" name="remember"><small>Remember me</small> 
      </label>
    </div>
  
    <div class="container ">
      
      <button type="button" class="btn btn-dark small">Login</button>
      <span class="psw small ">Forgot <a href="#">password?</a></span>
    </div>
        
    </section>
