* {
    margin: 0;
    padding:0;
    font-family:'Arial Narrow';
}
/*---------Header------------*/
  .header {
    background: red;
    
  }
 
  .nav-item {
    margin-left: 10px;
    margin-bottom: 5px;
    
  }
  .btn{
    background-color: black;
  }
  .nav-link {
    color:white!important;
    font-size: 15px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
    font-weight: 300%!important;
    font-family: serif;
  }
  .navbar-brand img {
    width: 10%;
    
  }
  .fa-bars {
    color: #fff;
    font-size: 40px!important;
  }
  .navbar-toggler {
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
  }
  .active-home {
    border-bottom: 2px solid #fff;
  }
  .nav-link:hover {
    border-bottom: 2px solid #fff;
  }
  
  /*-------footer-------*/
  .footer{
  
    padding-top: 1px;
    background-color:red;
    color: white !important;
    margin:-5px
  }
  
  .footer small{
  
    font-size: 14px;
    padding:2px;
    padding-bottom: 1px;
    
   
  }
  .link{
    font-size: 14px;
    padding:2px;
    color:#fff;
    text-align: right;

  }
  .links{
    font-size: 14px;
    padding:0;
    margin:5px;
    padding-bottom: 1px;
    color:#fff;
    display:block;
    text-align: left;

  }
   #year{
     color:white;

   }