<section class="header">
    <div class="container">
   <nav class="navbar navbar-expand-lg navbar-light">
       
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
<i class="fa fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav ml-auto ">

  </ul>
    </div>
</nav>
</div>
</section>
<section>
    <button type="button" class="btn btn-dark " onclick="location.href='signup.html'">REGISTER A CONSULTANT</button>  
    <button type="button" class="btn btn-dark " onclick="location.href='signup.html'">CONSULTANTS</button>
    <button type="button" class="btn btn-dark  " onclick="location.href='signup.html'">POLICY COVER</button>
    <button type="button" class="btn btn-dark " onclick="location.href='signup.html'">APPLICANTS</button>  
    <button type="button" class="btn btn-dark " onclick="location.href='signup.html'">PAYMENT STATUS</button> 
 
    </section>
    <form  style="border:1px solid #ccc">
        <div class="container">
            
          <label for="parl"><b>Branch Name</b></label>
          <input type="text" class="form-control" id="floatingPourname" placeholder="Enter Branch Name" required>
          <label for="fullname"><b>Full Name</b></label>
          <input type="text" class="form-control" id="fullname " placeholder="Enter Name Full Name" required>
          <label for="phonenumber"><b>Phone Number</b></label>
          <input type="text" class="form-control" id="phonenumber " placeholder="Enter Phone Number" required>
          <label for="emailaddress"><b>Email Address</b></label>
          <input type="text" class="form-control" id="emailaddress " placeholder="Enter Email Address" required>
          
          <label for="username"><b>Username</b></label>
          <input type="text" class="form-control" id="username " placeholder="Enter Username" required>
          <label for="psw"><b>Password</b></label>
          <input type="text" class="form-control" id="password " placeholder="Enter Password" required>
          <label for="psw-repeat"><b>Repeat-Password</b></label>
          <input type="text" class="form-control" id="password " placeholder="Enter Repeat-Password" required>
          <div  class="btn1">
            <button type="button" class="btn btn-dark"  onclick="location.href='signup.html'">Register</button>
            
        </div> 
        </div>
        

        
         
    </form>
     
