<form >
    <div class="container">
        <h3  class="font-weight-bold">Sign Up</h3>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="parl"><b><small>Funeral Parlour Name</small></b></label>
        <input type="text" class="form-control" id="floatingPourname" placeholder="Enter Funeral Parlour Name" required>
        <label for="fullname"><b><small>Full Name</small></b></label>
        <input type="text" class="form-control" id="fullname " placeholder="Enter Full Name" required>
        <label for="phonenumber"><b><small>Phone Number</small></b></label>
        <input type="text" class="form-control" id="phonenumber " placeholder="Enter Phone Number" required>
        <label for="emailaddress"><b><small>Email Address</small></b></label>
        <input type="text" class="form-control" id="emailaddress " placeholder="Enter Email Address" required>
        <label for="physicalAddress"><b><small>Physical Address</small></b></label>
        <input type="text" class="form-control" id="physicalAddress " placeholder="Enter Physical Address" required>
        <label for="username"><b><small>Username</small></b></label>
        <input type="text" class="form-control" id="username " placeholder="Enter Username" required>
        <label for="psw"><b><small>Username</small></b></label>
        <input type="text" class="form-control" id="password " placeholder="Enter Password" required>
        <label for="psw-repeat"><b><small>Repeat-Password</small></b></label>
        <input type="text" class="form-control" id="password " placeholder="Enter Repeat Password" required>
        <p class=" text-danger6"><small>By creating an account you agree to our</small> <a href="../termsandconditions/termsandconditions.component.html                         " style="color:dodgerblue" target="_blank"><small class="p-tag">Terms & Privacy</small></a></p>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"><small>Please Click here to Agree</small> 
        <div  class="btn1">
            <button type="button" class="btn btn-dark">SignUp</button>
        </div>
        
    
</div>


</form>