
        <section class="service">
          <section class="features">
              <div class="container">
                  <div class="row">
                      <div class="top-left col-md-7">
                          <img src="../../assets/images/Funeral Home Logo.png" height="200px" width="300px" >
                     </div>
                      <div class="col-md-6">
                          <h2 class="title" text-white sm-dark >Welcome to Open Source Funeral Home Administration.</h2>
                          <p>We provide a wide range of services.</p>
                          <p>We ofter software solutions to Funeral Parlours.</p>
                          <p>Our software system provides you with all the nessary tools you need to take your business to the next level.</p>
                           
                      </div>
                      
    
                      <div class="col-md-6 text-right">
                            
                           <img src="../../assets/images/LogoxsHOM.png" height="360" width="360">
                      </div>
                  
                      </div>
                  </div>
          </section>
        </section>  
    
        
