* {
    margin: 0;
    padding:0;
    font-family:'Arial Narrow';
  }
  .service{
    margin: 10px 80px;
    padding:30px !important;
    font-size: 14px;
    
  }
  
  .title{
    text-align:center;
    font-weight:bold;
    margin-bottom: 70px;
  
  }
  .top-left {
    margin: 80px 20px;
    position:absolute;
    top: 2px;
    left: 150px;
  }
  
/*-----------------features---------*/

.features , .explorers{

  margin:200px 0;

}
.features img{
  width:40%;
  cursor:pointer;
  height: 80%;
 text-align: center;
  
}
.features h2{

  margin-top: 20px;
  font-weight:bold;
  line-height: 50px;
  font-size: 22px;
}
h5 {
  font-size: small;
}
p{
    line-height: normal;
    font-weight:40px;
    

}
.features a ,.explorers a{

  width:170px;
  padding: 15px 10px;
  display:block;
  background: #6900d1;
  text-decoration: none!important;
  color:#fff !important;
  border-radius: 20px;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
}
.explores h2{

  margin-top: 50px;
  font-weight:bold;
  line-height: 50px;
}
.explores a{

  margin-bottom:50px ;
}

/*-------------feature ------------*/


.feature , .explorer{
    background: #6900d1;
    
  
  }
  .feature img{
  
    max-width: 120%;
    cursor:pointer;
  }
  .feature h2{
    color:white;
    margin-top: 1px;
    line-height: 30px;
  }
  
  .feature a ,.explorer a{
  
    width:170px;
    padding: 10px 10px;
    display:block;
    
    text-decoration: none!important;
    color:#fff !important;
    border-radius: 5px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
  }
  .explore h2{
  
    margin-top: 50px;
    font-weight:bold;
    line-height: 50px;
  }
  .explore a{
  
    margin-bottom:50px ;
  }