
        <section class="service">
            <section class="features">
                <div class="container">
                    <div class="row element">
                        <div class="top-left col-md-11 text-right">
                           
                            <h2 class="title sm-dark ">Welcome to Open Source Funeral Home Administration</h2>
                          </div>
                        <div class=" data col-md-6">
                            
                            <p>We provide a wide range of services.</p>
                            <p >We ofter software solution to FuneralParlours.</p>
                            <p>Our software system provides you with all the nessary tools you need to take your business to the next level.</p> 
                        </div>
                        
      
                        <div class="col-md-6 text-right">
                              
                             <img src="../../assets/images/LogoMakr-1SPJrO.png" height="300px" width="300pxx">
                        </div>
                    
                        </div>
                    </div>
            </section>
        
